


/* This box class is purely used for explaining how the bootstrap grid system works. */
.box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}


.custom-color {
  background-color: #FF8C00; /* Replace with your desired shade of orange */
  border-color: #FF8C00; /* Use the same color for the border */
}

