<div>
  <h2 id="page-heading" data-cy="DegreeSubjectsHeading">
    <span jhiTranslate="teamprojectApp.degreeSubjects.home.title">Degree Subjects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.degreeSubjects.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-degree-subjects"
        [routerLink]="['/degree-subjects/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.degreeSubjects.home.createLabel"> Create a new Degree Subjects </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="degreeSubjects?.length === 0">
    <span jhiTranslate="teamprojectApp.degreeSubjects.home.notFound">No Degree Subjects found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="degreeSubjects && degreeSubjects.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="degree.id">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.degreeSubjects.degree">Degree</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="subject.id">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.degreeSubjects.subject">Subject</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let degreeSubjects of degreeSubjects; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/degree-subjects', degreeSubjects.id, 'view']">{{ degreeSubjects.id }}</a>
          </td>
          <td>
            <div *ngIf="degreeSubjects.degree">
              <a [routerLink]="['/degrees', degreeSubjects.degree.id, 'view']">{{ degreeSubjects.degree.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="degreeSubjects.subject">
              <a [routerLink]="['/subjects', degreeSubjects.subject.id, 'view']">{{ degreeSubjects.subject.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/degree-subjects', degreeSubjects.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/degree-subjects', degreeSubjects.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(degreeSubjects)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
