<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userGroupAd">
      <h2 data-cy="userGroupAdDetailsHeading"><span jhiTranslate="teamprojectApp.userGroupAd.detail.title">User Group Ad</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userGroupAd.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.userGroupAd.groupBio">Group Bio</span></dt>
        <dd>
          <span>{{ userGroupAd.groupBio }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.userGroupAd.group">Group</span></dt>
        <dd>
          <div *ngIf="userGroupAd.group">
            <a [routerLink]="['/user-groups', userGroupAd.group.id, 'view']">{{ userGroupAd.group.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-group-ad', userGroupAd.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
