<html lang = "en">
  <span class="border-2">
    <h1>UNIconnect's Privacy Policy</h1>
    <head>
      <title>UNIconnect's Privacy Policy</title>
      UNIconnect is the web app developed by the UNIconnect team. This privacy policy will explain how our team uses the personal data we
      collect from you when you use our website.
    </head>

    <p>What data do we collect?</p>

    <ul class="list-unstyled">
      <li>
        Our team collects the following data:
        <ul>
          <li>Email address</li>
          <li>Modules</li>
          <li>Year of study</li>
          <li>Group messages</li>
          <li>Biography</li>
          <li>Picture</li>
        </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        How do we collect your data
        <ul>
          <li>Collect data from register form</li>
          <li>Creating account settings</li>
          <li>From personal and group chats</li>
          <li>Use or view our website via your browsers cookies.</li>
        </ul>
      </li>

      &nbsp;&nbsp;&nbsp;
      <li>
        How will we use your data?
        <ul>
          <li>Manage your account.</li>
  
          <li>Match students with common interest together</li>
          <li>Find suitable mentors/mentees</li>
          <li>Provide the group chat and personal chat functions</li>
        </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        How do we store your data?
        <ul>
          <li>
            Our team securely stores your data on University of Birmingham servers. The server is called Tinky Winky. It is protected by ssh
            access and ssl user certificates.
          </li>
          <li>
            Our team will keep your personal data until September 2023. Once this time period has expired, we will delete your data by purging
            the database.
          </li>
        </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        Marketing
        <ul>
          <li>Our team will not use your data for marketing purposes.</li>
        </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        Our team would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
        <ul>
          <li>The right to access - You have the right to request our team for copies of your personal data.</li>
          <li>
            The right to rectification - You have the right to request that our team correct any information you believe is inaccurate. You
            also have the right to request our team to complete information you believe is incomplete.
          </li>
          <li>The right to erasure - You have the right to request that our team erase your personal data, under certain conditions.</li>
          <li>
            The right to restrict processing - You have the right to request that our team restrict the processing of your personal data,
            under certain conditions.
          </li>
          <li>
            The right to object to processing - You have the right to object to our teams processing of your personal data, under certain
            conditions.
          </li>
          <li>
            The right to data portability - You have the right to request that our team transfer the data that we have collected to another
            organisation, or directly to you, under certain conditions.
          </li>
          <li>
            If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us
            at our email: xxk150@student.bham.ac.uk
          </li>
        </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        What are cookies?
        <ul>
          <li>
            Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information.
            When you visit our websites, we may collect information from you automatically through cookies or similar technology.
          </li>
          <li>For further information, visit aIIaboutcookies.org.</li>
        </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        How do we use cookies?
        <ul>
          <li>Our team uses cookies in a range of ways to improve your experience on our website, and keeping you signed in.</li>
        </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        What types of cookies do we use?
  
        <ul>
          <li>Functionality — Our team uses these cookies so that we recognize you on our website and keep you signed in.</li>
        </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        How to manage cookies
        <ul>
          <li>
            You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However,
            in a few cases, some of our website features may not function as a result.
          </li>
        </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        Privacy policies of other websites
        <ul>
          <li>
            The UNIconnect website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link
            to another website, you should read their privacy policy.
          </li>
        </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        Changes to our privacy policy

        <ul>
          <li>
            Our team keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last
            updated on 2nd March 2023.
          </li>
        </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        How to contact us
        <ul>
          <li>
            If you have any questions about UNIConnect’s privacy policy, the data we hold on you, or you would like to exercise one of your
            data protection rights, please do not hesitate to contact us.
          </li>
          <li>Email us at: xxk150@student.bham.ac.uk</li>
          </ul>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li>
        How to contact the appropriate authority
        <ul>
          <li>
            Should you wish to report a complaint or if you feel that our team has not addressed your concern in a satisfactory manner, you
            may contact the Information Commissioner’s Office.
          </li>
          <li>Number: 0303 123 1113</li>
          <li>Address: Wycliffe House</li>
        </ul>
      </li>
    </ul>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </span>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</html>