<html>
  <head>
    <title>Footer HTML</title>
    <style>
      body {
        background-color: black; /* Set background color to white */
        color: #000000; /* Set text color to black */
        text-align: center;
        padding-top: 16px;
        font-size: 14px;
      }
    </style>
  </head>
  <body style="color: grey">
    By registering an account with UNIconnect, you have agreed to our privacy policy
    <a routerLink="privacy-policy" routerLinkActive="active" style="color: #ff8c00">Privacy Policy</a>
    <div>
      <a style="color: white">
        [1] Alpha Project Disclaimer: This server is provided by the School of Computer Science at the University of Birmingham to allow
        users to provide feedback on software developed by students as part of an assignment. While we take reasonable precautions, we
        cannot guarantee the security of the data entered into the system. Do NOT enter any real personal data (e.g., financial information
        or otherwise) into the system. The assignment runs until May 31st, 2023, at which time the server and all associated data will be
        destroyed.
      </a>
    </div>
    <footer>&copy; Copyright UNIconnect 2023 - All Rights Reserved.</footer>
  </body>
</html>
