<Html>
  <Head>
    <Title> Footer html </Title>
    <style>
      Body {
        background-color: #f1f1f1;
        text-align: center;
        padding-top: 16px;
        font-size: 12px;
      }
    </style>
  </Head>
  <Body>
    By registering an account with UNIconnect you have agreed to our privacy policy
    <a routerLink="privacy-policy" routerLinkActive="active"> Click here for our privacy policy </a>
    <div>
      <a style="color: red"
        >Disclaimer: The "Alpha Project" is an experimental venture that involves risks and uncertainties. Participation is at your own
        risk. We are not liable for any harm caused by the project.</a
      >
    </div>
    <footer>@Copyright UNIconnect 2023 - All Rights Reserved.</footer>
  </Body>
</Html>
