body {
  margin-top: 40px;
  /* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. */
}
#fdcont {
  height: 100vh;
  overflow: auto;
}

#list {
  overflow: auto;
  height: 100vh;
}

#ddmen {
  box-sizing: content-box;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 2;
  box-sizing: border-box;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #ff781f;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: absolute;
    padding-bottom: 500px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

img {
  width: 200px;
  height: auto;
}
/* sm */
@media (min-width: 768px) {
  img {
    width: 200px;
  }
}
/* md */
@media (min-width: 992px) {
  img {
    width: 200px;
  }
}
/* lg */
@media (min-width: 1200px) {
  img {
    width: 300px;
  }
}

html,
body {
  margin: 0;
  height: 100%;
}

#flux {
  height: 850px;
  overflow: auto;
}

.row {
  flex-wrap: nowrap;
}

#list {
  margin-top: 10px;
  padding-top: 10px;
}

.buttonstyle {
  background-color: darkorange;
  font-size: 16px;
  width: 250px;
  height: 40px;
  padding-right: 10px;
  color: whitesmoke;
  font-weight: bold;
  font-family: Arial;
  outline: none;
}

.card {
  margin-bottom: 20px;
}

.card-title {
  margin-bottom: 10px;
}

.card-body img {
  margin-right: 10px;
  justify-content: center;
}

.card-body {
  display: flex;
  justify-content: center;
}
.btn-accept {
  background-color: green;
  color: white;
}

.btn-reject {
  background-color: red;
  color: white;
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for popup box */
.popup-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 700px;
  width: 100%;
  height: 485px;
  margin-right: 20px;
  position: relative;
}

/* Styles for close button */
.popup-close {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
}

/* Styles for form elements */
.popup-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.popup-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.popup-form button {
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 200px;
  position: absolute;
  right: 0;
  background-color: #ff8c00;
  margin-right: 15px;
}
/* Style for picture container */
.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Style for each picture */
.picture-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer; /* Add pointer cursor to indicate pictures are clickable */
}
/* Style for selected picture */
.selected {
  border: 3px solid orange;
  box-shadow: 0px 0px 10px rgba(255, 165, 0, 0.5); /* Add an orange shadow to the selected picture */
}
