<html lang="en">
  <head>
    <title>Connect to a mentee - UNIconnect</title>
  </head>

  <body class="bg-light">
    <h1>Choose a module:</h1>

    <p>
      <i>Choose a module from the list below you'd like to find a mentee for</i>
    </p>

    <select [(ngModel)]="moduleSelect">
      <option value="0">Select a module...</option>
      <option *ngFor="let choice of moduleData" [value]="choice.id">
        {{ choice.moduleName }}
      </option>
    </select>

    <button type="button" (click)="feed()" style="margin: 5% 0 0 0; background-color: darkorange; border-color: darkorange; color: black">
      Find a mentee
    </button>
  </body>
</html>
