<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UNIconnect</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet" />
  </head>
  <body id="popupAdder" style="height: calc(100vh - 185px)">
    <div class="align-content-lg-start">
      <div class="sidebar" id="sidebar" style="overflow-y: hidden">
        <a href="#" class="active">Individuals</a>
        <a routerLink="../group-feed" routerLinkActive="active">Groups</a>
        <a routerLink="../mentor-module-selection" routerLinkActive="active">Mentors</a>
        <a routerLink="../mentee-module-selection" routerLinkActive="active">Mentees</a>
      </div>
    </div>
    <section class="bg-light text-dark py-xxl-3 py-xl-3 py-lg-3 py-md-3 py-sm-3">
      <div>
        <div class="row gy-1">
          <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-2"></div>
          <div
            class="col-xl-8 col-lg-8 col-md-10 text-center align-item-center col-sm-12 col-xs-12"
            id="fdcont"
            style="height: calc(100vh - 185px); overflow-y: hidden"
          >
            <h2>My Feed</h2>
            <div class="container" id="flux">
              <div class="container" id="cardsection"></div>
            </div>
          </div>
          <div
            class="col d-none d-sm-none d-lg-none d-md-none d-xl-block"
            style="height: calc(100vh - 185px); overflow-y: scroll; min-width: min-content"
          >
            <h2>Connections</h2>
            <div class="button-container">
              <button
                class="btn"
                style="background-color: darkorange; border-color: darkorange; color: black; width: 210px"
                id="friends-button"
                onclick="displayFriends()"
              >
                Friends
              </button>

              <br />
              <div id="list" style="height: fit-content"></div>
            </div>
            <br />
            <div class="row">
              <div class="col">
                <br />
              </div>
            </div>
            <div class="row">
              <div class="col d-none d-sm-none d-lg-none d-md-none d-xl-block">
                <div class="container" id="f2">
                  <div class="container" id="requestsection"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
