<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mentees-heading" data-cy="MenteesCreateUpdateHeading" jhiTranslate="teamprojectApp.mentees.home.createOrEditLabel">
        Create or edit a Mentees
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.mentees.module" for="field_module">Module</label>
          <select
            class="form-control"
            id="field_module"
            data-cy="module"
            name="module"
            formControlName="module"
            [compareWith]="compareUserModules"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userModulesOption" *ngFor="let userModulesOption of userModulesSharedCollection">
              {{ userModulesOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.mentees.menteeUser" for="field_menteeUser">Mentee User</label>
          <select
            class="form-control"
            id="field_menteeUser"
            data-cy="menteeUser"
            name="menteeUser"
            formControlName="menteeUser"
            [compareWith]="compareAppUsers"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="appUsersOption" *ngFor="let appUsersOption of appUsersSharedCollection">{{ appUsersOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
