<div>
  <h2 id="page-heading" data-cy="UserGroupUsersHeading">
    <span jhiTranslate="teamprojectApp.userGroupUsers.home.title">User Group Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.userGroupUsers.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-group-users"
        [routerLink]="['/user-group-users/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.userGroupUsers.home.createLabel"> Create a new User Group Users </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userGroupUsers?.length === 0">
    <span jhiTranslate="teamprojectApp.userGroupUsers.home.notFound">No User Group Users found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="userGroupUsers && userGroupUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="group.id">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userGroupUsers.group">Group</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userGroupUsers.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let userGroupUsers of userGroupUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-group-users', userGroupUsers.id, 'view']">{{ userGroupUsers.id }}</a>
          </td>
          <td>
            <div *ngIf="userGroupUsers.group">
              <a [routerLink]="['/user-groups', userGroupUsers.group.id, 'view']">{{ userGroupUsers.group.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="userGroupUsers.user">
              <a [routerLink]="['/app-users', userGroupUsers.user.id, 'view']">{{ userGroupUsers.user.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-group-users', userGroupUsers.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-group-users', userGroupUsers.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userGroupUsers)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
