<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="friendship">
      <h2 data-cy="friendshipDetailsHeading"><span jhiTranslate="teamprojectApp.friendship.detail.title">Friendship</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ friendship.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.friendship.finalUser">Final User</span></dt>
        <dd>
          <div *ngIf="friendship.finalUser">
            <a [routerLink]="['/final-user', friendship.finalUser.id, 'view']">{{ friendship.finalUser.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.friendship.finalUser2">Final User 2</span></dt>
        <dd>
          <div *ngIf="friendship.finalUser2">
            <a [routerLink]="['/final-user', friendship.finalUser2.id, 'view']">{{ friendship.finalUser2.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/friendship', friendship.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
