<div>
  <h2 id="page-heading" data-cy="UserGroupAdHeading">
    <span jhiTranslate="teamprojectApp.userGroupAd.home.title">User Group Ads</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.userGroupAd.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-group-ad"
        [routerLink]="['/user-group-ad/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.userGroupAd.home.createLabel"> Create a new User Group Ad </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userGroupAds?.length === 0">
    <span jhiTranslate="teamprojectApp.userGroupAd.home.notFound">No User Group Ads found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="userGroupAds && userGroupAds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="groupBio">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userGroupAd.groupBio">Group Bio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="group.id">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userGroupAd.group">Group</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userGroupAd of userGroupAds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-group-ad', userGroupAd.id, 'view']">{{ userGroupAd.id }}</a>
          </td>
          <td>{{ userGroupAd.groupBio }}</td>
          <td>
            <div *ngIf="userGroupAd.group">
              <a [routerLink]="['/user-groups', userGroupAd.group.id, 'view']">{{ userGroupAd.group.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-group-ad', userGroupAd.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-group-ad', userGroupAd.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userGroupAd)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
