<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appUsers">
      <h2 data-cy="appUsersDetailsHeading"><span jhiTranslate="teamprojectApp.appUsers.detail.title">App Users</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ appUsers.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.appUsers.name">Name</span></dt>
        <dd>
          <span>{{ appUsers.name }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.appUsers.studyYear">Study Year</span></dt>
        <dd>
          <span>{{ appUsers.studyYear }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.appUsers.bio">Bio</span></dt>
        <dd>
          <span>{{ appUsers.bio }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.appUsers.pfp">Pfp</span></dt>
        <dd>
          <span>{{ appUsers.pfp }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.appUsers.subject">Subject</span></dt>
        <dd>
          <div *ngIf="appUsers.subject">
            <a [routerLink]="['/degrees', appUsers.subject.id, 'view']">{{ appUsers.subject.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/app-users', appUsers.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
