<head>
  <title>Register</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../register/register.component.scss" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
      <strong>Registration saved!</strong> Please check your email for confirmation.
    </div>

    <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
      <strong>Registration failed!</strong> Please try again later.
    </div>

    <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
      <strong>Login name already registered!</strong> Please choose another one.
    </div>

    <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
      <strong>Email is already in use!</strong> Please choose another one.
    </div>

    <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
      The password and its confirmation do not match!
    </div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
            <div style="display: flex">
              <div class="input-box">
                <label class="details">First Name</label>
                <input class="details" id="firstname" name="FirstName" formControlName="firstname" placeholder="Your first name" />
              </div>
              <div class="input-box">
                <label class="details">Last Name</label>
                <input
                  class="form-control"
                  id="lastname"
                  name="lastname"
                  formControlName="lastname"
                  class="form-control ng-untouched ng-pristine ng-invalid"
                  style="border-color: darkorange"
                  placeholder="Your last name"
                />
              </div>
            </div>
            <div style="display: flex">
              <div class="input-box">
                <label class="details" for="login" jhiTranslate="global.form.username.label">Username</label>
                <input
                  type="text"
                  id="login"
                  name="login"
                  placeholder="{{ 'global.form.username.placeholder' | translate }}"
                  formControlName="login"
                  data-cy="username"
                  #login
                />

                <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('login')?.errors?.required"
                    jhiTranslate="register.messages.validate.login.required"
                  >
                    Your username is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('login')?.errors?.minlength"
                    jhiTranslate="register.messages.validate.login.minlength"
                  >
                    Your username is required to be at least 1 character.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('login')?.errors?.maxlength"
                    jhiTranslate="register.messages.validate.login.maxlength"
                  >
                    Your username cannot be longer than 50 characters.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('login')?.errors?.pattern"
                    jhiTranslate="register.messages.validate.login.pattern"
                  >
                    Your username is invalid.
                  </small>
                </div>
              </div>

              <div class="input-box">
                <label class="details" for="email" jhiTranslate="global.form.email.label">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="{{ 'global.form.email.placeholder' | translate }}"
                  formControlName="email"
                  data-cy="email"
                />

                <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('email')?.errors?.required"
                    jhiTranslate="global.messages.validate.email.required"
                  >
                    Your email is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('email')?.errors?.invalid"
                    jhiTranslate="global.messages.validate.email.invalid"
                  >
                    Your email is invalid.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('email')?.errors?.minlength"
                    jhiTranslate="global.messages.validate.email.minlength"
                  >
                    Your email is required to be at least 5 characters.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('email')?.errors?.maxlength"
                    jhiTranslate="global.messages.validate.email.maxlength"
                  >
                    Your email cannot be longer than 50 characters.
                  </small>
                </div>
              </div>
            </div>

            <div style="display: flex">
              <div class="input-box">
                <label class="details" for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                  formControlName="password"
                  data-cy="firstPassword"
                />

                <div
                  *ngIf="
                    registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
                  "
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('password')?.errors?.required"
                    jhiTranslate="global.messages.validate.newpassword.required"
                  >
                    Your password is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('password')?.errors?.minlength"
                    jhiTranslate="global.messages.validate.newpassword.minlength"
                  >
                    Your password is required to be at least 4 characters.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('password')?.errors?.maxlength"
                    jhiTranslate="global.messages.validate.newpassword.maxlength"
                  >
                    Your password cannot be longer than 50 characters.
                  </small>
                </div>

                <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
              </div>

              <div class="input-box">
                <label class="details" for="confirmPassword">Confirm Password</label>
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                  formControlName="confirmPassword"
                  data-cy="secondPassword"
                  style="border-color: darkorange"
                />

                <div
                  *ngIf="
                    registerForm.get('confirmPassword')!.invalid &&
                    (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
                  "
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                    jhiTranslate="global.messages.validate.confirmpassword.required"
                  >
                    Your confirmation password is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                    jhiTranslate="global.messages.validate.confirmpassword.minlength"
                  >
                    Your confirmation password is required to be at least 4 characters.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                    jhiTranslate="global.messages.validate.confirmpassword.maxlength"
                  >
                    Your confirmation password cannot be longer than 50 characters.
                  </small>
                </div>
              </div>
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="studyYear">Study year:</label>
              </div>
              <select class="custom-select" name="years" id="studyYear" formControlName="studyYear">
                <option value="Year 1">Year 1</option>
                <option value="Year 2">Year 2</option>
                <option value="Year 3">Year 3</option>
                <option value="Year 4/PHD">Year 4/PHD</option>
              </select>
            </div>

            &nbsp;&nbsp;&nbsp;
            <hr />
            &nbsp;&nbsp;&nbsp;
            <span class="module-title" style="font-weight: bold">Select modules</span>
            <hr />
            <div class="module-details">
              <div class="category">
                <div
                  *ngFor="
                    let option of [
                      'Object Oriented Programming',
                      'Mathematical and Logical Foundations of Computer Science',
                      'Theories of Computation',
                      'Full Stack Application Development',
                      'Artificial Intelligence 1',
                      'Functional Programming',
                      'Operating Systems / Systems Programming',
                      'Software Engineering and Professional Practices',
                      'Security and Networks',
                      'Artificial Intelligence 2',
                      'Team Project',
                      'Teaching Computer Science in Schools',
                      'Human Computer Interaction',
                      'Security in Real World Systems',
                      'Mobile and Ubiquitous Computing',
                      'Computer Vision',
                      'Advanced Functional Programming',
                      'Programming Language Principles, Design, & Implementation',
                      'Dependable and Distributed Systems',
                      'Advanced Networking',
                      'Algorithms and Complexity',
                      'Intelligent Interactive Systems',
                      'Intelligent Robotics',
                      'Machine Learning and Intelligent Data Analysis',
                      'Quantum Computing',
                      'Neural Computation',
                      'Natural Language Processing',
                      'Evolutionary Computation',
                      'Computer Aided Verification'
                    ]
                  "
                >
                  <label>
                    <input type="checkbox" [id]="option" [value]="option" name="module" (change)="handleCheckboxChange($event, option)" />
                    <span class="checkmark"></span>
                    <span class="module">{{ option }}</span>
                  </label>
                </div>
              </div>
            </div>
            <hr />
            <span class="module-title" style="font-weight: bold">Are you a mentor?</span>
            <div class="form-check" style="margin-top: 10px">
              <input
                class="form-check-input"
                type="checkbox"
                id="isMentor"
                name="isMentor"
                value="isMentor"
                (change)="handleMentorCheckboxChange($event)"
              />
              <label class="form-check-label ms-2" for="isMentor">Is Mentor</label>
            </div>
            <hr />
            <div class="col-sm">
              <div class="form-group" *ngIf="!success">
                <label style="margin-top: 10px" for="bio">About yourself (80 words)</label>
                <textarea class="form-control form-control-lg" formControlName="bio" id="bio" rows="3"></textarea>
              </div>
            </div>

            <div class="form-check" style="margin-top: 7px; font-size: 16px">
              <input class="form-check-input" type="checkbox" value="" id="termsAndConditions" onclick="enableButton()" />
              <label class="form-check-label" for="termsAndConditions"> I agree to the terms and conditions for UNIconnect </label>
            </div>

            <div class="d-flex justify-content-center">
              <button
                type="submit"
                jhiTranslate="register.form.button"
                data-cy="submit"
                class="button"
                id="submitButton"
                style="background-color: darkorange; border-color: darkorange; color: black; width: 200px"
                disabled
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
  <div id="topScroller" style="display: none; z-index: 999; position: fixed; bottom: 40px; right: 55px">
    <button id="topButton" (click)="toTheTop()" tabindex="-1" style="border-radius: 10px; font-size: 20px">Back to the top</button>
  </div>
</body>
