<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
        <strong>Registration saved!</strong> Please check your email for confirmation.
      </div>

      <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
        <strong>Registration failed!</strong> Please try again later.
      </div>

      <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
        <strong>Login name already registered!</strong> Please choose another one.
      </div>

      <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
        <strong>Email is already in use!</strong> Please choose another one.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
        The password and its confirmation do not match!
      </div>

      <div class="d-flex justify-content-left">
        <div class="col-md-4">
          <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
            <div class="mb-3">
              <label class="form-label" for="login" jhiTranslate="global.form.username.label">Username</label>
              <input
                type="text"
                class="form-control"
                id="login"
                name="login"
                placeholder="{{ 'global.form.username.placeholder' | translate }}"
                formControlName="login"
                data-cy="username"
                style="border-color: darkorange"
                #login
              />

              <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('login')?.errors?.required"
                  jhiTranslate="register.messages.validate.login.required"
                >
                  Your username is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('login')?.errors?.minlength"
                  jhiTranslate="register.messages.validate.login.minlength"
                >
                  Your username is required to be at least 1 character.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('login')?.errors?.maxlength"
                  jhiTranslate="register.messages.validate.login.maxlength"
                >
                  Your username cannot be longer than 50 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('login')?.errors?.pattern"
                  jhiTranslate="register.messages.validate.login.pattern"
                >
                  Your username is invalid.
                </small>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="email" jhiTranslate="global.form.email.label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="{{ 'global.form.email.placeholder' | translate }}"
                formControlName="email"
                data-cy="email"
                style="border-color: darkorange"
              />

              <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.required"
                  jhiTranslate="global.messages.validate.email.required"
                >
                  Your email is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.invalid"
                  jhiTranslate="global.messages.validate.email.invalid"
                >
                  Your email is invalid.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.email.minlength"
                >
                  Your email is required to be at least 5 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.email.maxlength"
                >
                  Your email cannot be longer than 50 characters.
                </small>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                formControlName="password"
                data-cy="firstPassword"
                style="border-color: darkorange"
              />

              <div
                *ngIf="
                  registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.required"
                  jhiTranslate="global.messages.validate.newpassword.required"
                >
                  Your password is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.newpassword.minlength"
                >
                  Your password is required to be at least 4 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.newpassword.maxlength"
                >
                  Your password cannot be longer than 50 characters.
                </small>
              </div>

              <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                formControlName="confirmPassword"
                data-cy="secondPassword"
                style="border-color: darkorange"
              />

              <div
                *ngIf="
                  registerForm.get('confirmPassword')!.invalid &&
                  (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.confirmpassword.required"
                >
                  Your confirmation password is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.confirmpassword.minlength"
                >
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.confirmpassword.maxlength"
                >
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div>
            </div>

            <div class="mb-3">
              <div class="row">
                <label for="studyYear">Year:</label>
                <select name="years" class="form-control" id="studyYear" formControlName="studyYear" style="border-color: darkorange">
                  <option value="Year 1">Year 1</option>
                  <option value="Year 2">Year 2</option>
                  <option value="Year 3">Year 3</option>
                  <option value="Year 4/PHD">Year 4/PHD</option>
                </select>
                &nbsp;&nbsp;&nbsp;
                <label for="courseChoice">Course:</label>
                <select name="course" id="courseChoice" style="border-color: darkorange">
                  <option value="Comp Sci">Computer Science</option>
                </select>
                &nbsp;&nbsp;&nbsp;
                <!--  <div *ngFor="let module of userModulesData">
                    <label>
                      <input type="checkbox" id="modules"[value]="module.id" formControlName="modules">
                      {{ module.moduleName }}
                    </label>
                  </div> -->

                <!-- Add these checkboxes inside the form element -->
                <div
                  *ngFor="
                    let option of ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't']
                  "
                >
                  <input type="checkbox" [id]="option" [value]="option" (change)="handleCheckboxChange($event, option)" />
                  <label [for]="option">{{ option }}</label>
                </div>
              </div>
            </div>

            <div class="col-sm">
              <div class="row">
                <div class="form-group" *ngIf="!success">
                  <label for="aboutyourself">About yourself (80 words)</label>
                  <textarea
                    class="form-control"
                    formControlName="bio"
                    id="aboutyourself"
                    rows="10"
                    cols="75"
                    style="border-color: darkorange"
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault"> I agree to the terms and conditions for UNIconnect </label>
            </div>

            <button
              type="submit"
              jhiTranslate="register.form.button"
              data-cy="submit"
              class="button"
              style="background-color: darkorange; border-color: darkorange; color: black; width: 200px"
            >
              <!--[disabled]="registerForm.invalid"-->
              Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group" id="user-modules-data">
  <ul></ul>
</div>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script>
