<div style="height: 100vh; display: flex; justify-content: center; align-items: center; background: #f5f5f5">
  <div style="width: 700px; padding: 20px; background: white; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)">
    <h1 style="text-align: center; color: #333">Sign in</h1>
    <p style="color: #ff3333; text-align: center" *ngIf="authenticationError">
      Failed to sign in! Please check your credentials and try again.
    </p>
    <form style="margin-top: 20px" (ngSubmit)="login()" [formGroup]="loginForm">
      <div style="margin-bottom: 20px">
        <label for="username" style="font-size: 14px; color: #777">Username</label>
        <input
          type="text"
          style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px"
          id="username"
          formControlName="username"
          placeholder="Enter your username"
        />
      </div>
      <div style="margin-bottom: 20px">
        <label for="password" style="font-size: 14px; color: #777">Password</label>
        <input
          type="password"
          style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
        />
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 20px">
        <input type="checkbox" id="rememberMe" formControlName="rememberMe" style="margin-right: 10px" />
        <label for="rememberMe" style="font-size: 14px; color: #777">Remember me</label>
      </div>
      <button
        type="submit"
        style="
          width: 100%;
          padding: 10px;
          background: #fc663f;
          border: none;
          color: black;
          border-radius: 4px;
          cursor: pointer;
          transition: background 0.3s ease;
        "
        onmouseover="this.style.background='#fc4821';"
        onmouseout="this.style.background='#fc663f';"
      >
        Sign in
      </button>
    </form>
    <div style="text-align: center; margin-top: 20px">
      <a routerLink="/account/reset/request" style="color: #fc663f">Did you forget your password?</a>
    </div>
    <div style="text-align: center; margin-top: 10px">
      <span>You don't have an account yet? </span>
      <a routerLink="/account/register" style="color: #fc663f">Register a new account</a>
    </div>
  </div>
</div>
