<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UNIconnect</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
    <link href="../home/home.component.scss" rel="stylesheet" />
  </head>

  <body>
    <main>
      <section class="hero">
        <h1>Welcome to UNIconnect!</h1>
        <p>Connect with like-minded people and find your mentor</p>
      </section>

      <section class="features">
        <div class="feature">
          <img src="../../content/images/imageind1.png" alt="Illustration of a text converstaion between two people on a phone screen" />
          <h2>Join other Individuals</h2>
          <hr class="hr-modern" />
          <div class="card-text">
            <li>Meet like minded people</li>
            <li>Make new connections</li>
          </div>
          <hr class="hr-modern" />
          <a href="#" routerLink="connections-feed" class="button">Connect with individuals</a>
        </div>

        <div class="feature">
          <img src="../../content/images/varan.png" alt="Illustration of four people communicating and working together" />
          <h2>Join a group</h2>
          <hr class="hr-modern" />
          <div class="card-text">
            <li>Ask or Answer Questions</li>
            <li>Gain new perspective</li>
          </div>
          <hr class="hr-modern" />
          <a routerLink="group-feed" class="button">Connect to a group</a>
        </div>

        <div class="feature">
          <img src="../../content/images/group1.png" alt="Illustration of a person asking another for advice on their work" />
          <h2>Become a Mentor/Mentee</h2>
          <hr class="hr-modern" />
          <div class="card-text">
            <li>Share your Knowledge - Become a Mentor</li>
            <li>Get Support - Become a Mentee</li>
          </div>
          <hr class="hr-modern" />
          <a [routerLink]="['/connections-feed', { isChecked: true }]" class="button">Connect to a mentor</a>
        </div>
      </section>

      <section class="cta">
        <h2>Ready to join UNIconnect?</h2>
        <p>Create an account and start connecting today!</p>
        <a routerLink="account/register" class="button">Sign Up</a>
      </section>
    </main>
  </body>
</html>
