<div class="p-3 mb-2 bg-light text-dark">
  <div class="row">
    <div class="col-md-4">
      <!--<span class="hipster img-fluid rounded"></span>-->
    </div>

    <style>
      .display-5 {
        margin-bottom: 50px;
      }
      .form-group {
        margin-bottom: 10px;
      }
    </style>

    <div class="col-md-5">
      <h1 class="display-5">Welcome to UNIconnect</h1>
      <div [ngSwitch]="account !== null">
        <div class="alert alert-success" *ngSwitchCase="true">
          <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
            >You are logged in as user "{{ account.login }}".</span
          >

          <div class="container">
            <div class="row">
              <div class="col-sm">One of three columns</div>
              <div class="col-sm">HEllo</div>
              <div class="col-sm">One of three columns</div>
            </div>
          </div>
        </div>

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
          </div>
          <button type="submit" class="button" style="background-color: darkorange; border-color: darkorange; color: black">Log in</button>
        </form>

        <button type="button" class="button" style="background-color: darkorange; border-color: darkorange; color: black">Register</button>

        <style>
          .button {
            margin-bottom: 25px;
          }
        </style>

        <!-- <div class="alert alert-warning" *ngSwitchCase="false">
         <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
         <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
         ><span jhiTranslate="global.messages.info.authenticated.suffix"
           >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
           password="user").</span
         >
       </div>*/-->

        <!--<div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>-->
      </div>
    </div>
  </div>
</div>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script>
