<html lang="en">
  <head>
    <title>Connect to a mentor - UNIconnect</title>
  </head>

  <body class="bg-light">
    <h1>Choose a module:</h1>

    <p>
      <i>Choose a module from the list below you'd like to find a mentor for</i>
    </p>

    <select [(ngModel)]="moduleSelect">
      <option value="0">Select a module...</option>
      <option *ngFor="let choice of moduleData" [value]="choice.id">
        {{ choice.moduleName }}
      </option>
    </select>

    <a [routerLink]="['/connections-feed', { isChecked: true }]" class="button"> Find a mentor </a>
  </body>
  <div id="topScroller" style="display: none; z-index: 999; position: fixed; bottom: 40px; right: 55px">
    <button id="topButton" (click)="toTheTop()" tabindex="-1" style="border-radius: 10px; font-size: 20px">Back to the top</button>
  </div>
</html>
