<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-final-group-heading"
        data-cy="FinalGroupCreateUpdateHeading"
        jhiTranslate="teamprojectApp.finalGroup.home.createOrEditLabel"
      >
        Create or edit a Final Group
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.finalGroup.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.finalGroup.members" for="field_members">Members</label>
          <input type="text" class="form-control" name="members" id="field_members" data-cy="members" formControlName="members" />
          <div *ngIf="editForm.get('members')!.invalid && (editForm.get('members')!.dirty || editForm.get('members')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('members')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 30000 }"
            >
              This field cannot be longer than 30000 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.finalGroup.isAdvertised" for="field_isAdvertised">Is Advertised</label>
          <input
            type="checkbox"
            class="form-check"
            name="isAdvertised"
            id="field_isAdvertised"
            data-cy="isAdvertised"
            formControlName="isAdvertised"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.finalGroup.groupDescription" for="field_groupDescription"
            >Group Description</label
          >
          <input
            type="text"
            class="form-control"
            name="groupDescription"
            id="field_groupDescription"
            data-cy="groupDescription"
            formControlName="groupDescription"
          />
          <div
            *ngIf="
              editForm.get('groupDescription')!.invalid &&
              (editForm.get('groupDescription')!.dirty || editForm.get('groupDescription')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('groupDescription')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10000 }"
            >
              This field cannot be longer than 10000 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.finalGroup.pfp" for="field_pfp">Pfp</label>
          <input type="text" class="form-control" name="pfp" id="field_pfp" data-cy="pfp" formControlName="pfp" />
          <div *ngIf="editForm.get('pfp')!.invalid && (editForm.get('pfp')!.dirty || editForm.get('pfp')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pfp')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10485760 }"
            >
              This field cannot be longer than 10485760 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.finalGroup.admins" for="field_admins">Admins</label>
          <input type="text" class="form-control" name="admins" id="field_admins" data-cy="admins" formControlName="admins" />
          <div *ngIf="editForm.get('admins')!.invalid && (editForm.get('admins')!.dirty || editForm.get('admins')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('admins')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 30000 }"
            >
              This field cannot be longer than 30000 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
